.nav1{
  /* height: 7vh; */
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(0, 0, 255, 0.233);
  border-bottom: 1px solid rgba(0, 0, 255, 0.233);

}

.dropNavBG {

  background: rgba(255, 255, 255, 0.95);
  border: 1px solid rgba(0, 0, 255, 0.2);
  border-radius: 10px;

}

.logo {

  width: 45px;
  height: 40px;


}

.menuOutline {

  outline: none !important;
}

.activedd:active {
  background: white;
}

#close {
  font-size: 150%;
  font-weight: bold;
}

