

<div class="mt-lg-2">

<mat-sidenav-container >

<mat-sidenav #sidenav role='navigation' > <!-- Should Always be a direct component of mat-sidenav container-->
<app-sidenav-list (closeSidenav)='sidenav.close()'></app-sidenav-list>
</mat-sidenav>


<mat-sidenav-content >
<app-header (sidenavToggle)="sidenav.toggle()"></app-header>

<main class='mt-4 pt-4  container'>

<router-outlet (activate)="onActivate($event)"></router-outlet>
</main>
</mat-sidenav-content>




</mat-sidenav-container>
</div>
