<mat-toolbar color='primary' class='navbar position-fixed '>

    <div class="d-lg-non outlines"><button  mat-icon-button (click)='onToggleSidenav()'
      class="nav-item outlines"><mat-icon>menu</mat-icon></button></div>
    <button mat-button class="navbar-brand outlines" routerLink='/fitness/fitness'>
    <img src='assets/fitnesslogo3.png' class="logo" /></button>

     <!--  <a class="nav-item text-white" routerLink='/auth/signup'>Signup</a>
      <a class="nav-item text-white" routerLink='/auth/login'>Login</a> -->
      <button mat-button class="nav-item text-white mr-5 outlines" routerLink='/fitness/training'>
        <mat-icon class="d-inline-block mr-2">fitness_center</mat-icon>
        <span class='navbar-brand'> Training</span></button>

  </mat-toolbar>

<div class="col-lg-7 container-fluid col-10 d-flex justify-content-center">
  <div class="position-absolute w-100 hite " >

  </div>
</div>
