
<div class="container pt-2 mt-5">

<mat-spinner *ngIf='isloading'></mat-spinner>
<mat-accordion multi='true' *ngIf='posts.length >0 && !isloading'>

<mat-expansion-panel expanded *ngFor='let post of posts' class="card">
  <mat-expansion-panel-header class='card-title bg-light text-capitalize'>
    {{post.title}}
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
 <div >
   <img class=' h-75 w-100 mb-5 rounded shadow' [src]='post.imagePath' [alt]='post.title'/>
 </div>
<mat-panel-description>

  <p class='card-body bgcard'> {{post.content}} </p>

</mat-panel-description>
</ng-template>

<mat-action-row class='py-0 pb-3 border-0'>
      <a mat-stroked-button color='primary' class='mr-2 ' [routerLink]="['/edit', post.id]"><b>Edit</b></a>
      <button mat-stroked-button color='warn' class='mr-1 ' (click)="onDelete(post.id)"><b>Delete</b></button>
    </mat-action-row>

</mat-expansion-panel>

  </mat-accordion>
  <mat-paginator [length]="totalPost" [pageSize]="postsPerPage" (page)="onChangedPage($event)"
   [pageSizeOptions]="pageSizeOption" *ngIf='posts.length >0'></mat-paginator>
  <br>
<h3><p *ngIf="posts.length <= 0"> No posts added yet!!  </p> </h3>

</div>
