<div class=' col-12 w-100  bg-white pt-4 position-relative'>
<img src='assets/images/fitness1.jpg' class='w-100 h-100 rounded shadow' />


</div>
<div class="col-12 row  mt-5 d-flex ">

<div class="col-lg-6  h-100 ">
<img src='assets/images/manworkout.png' class='w-100 ' />
</div>

<div class="col-lg-6 h-75">
<img src='assets/images/couplework.png' class='w-100' />
</div>

<div class="col-lg-4 ml-auto">
<img src='assets/images/blackmanwork.png' class='w-100 ' />
</div>

<div class="col-lg-4 h-50 mr-auto">
<img src='assets/images/femaleworkout2.png' class='w-100 ' />
</div>

</div>
